__pycache__/*
.pytest_cache
.ruff_cache
.ipynb_checkpoints/
testing.ipynb
*.log
*.json
.abort_script

test_*

~$*

update_blocker

gold_ui.py

start_phx.bat

docs/build/
# docs/source/_static/
docs/source/_templates/
Recordings/
Settings/
logs/
Stimulations/
untracked/
defaults/__pycache__/
viperboxinterface/defaults/__pycache__/
setup/DowngradeFTDI/log/
viperboxinterface.egg-info/
viperboxinterface/__pycache__/
viperboxinterface/defaults/electrode_mapping_long_cables.xlsx
