__pycache__/*
.pytest_cache
.ruff_cache
.ipynb_checkpoints/
.pre-commit-config.yaml
testing.ipynb

*.log

~$*

update_blocker

gold_ui.py

start_phx.bat

docs/
Recordings/
Settings/
logs/
Stimulations/
untracked/
defaults/__pycache__/
viperboxinterface/defaults/__pycache__/
setup/DowngradeFTDI/log/
viperboxinterface.egg-info/
viperboxinterface/__pycache__/
viperboxinterface/defaults/electrode_mapping_long_cables.xlsx
